In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('../excel_files/train_row.csv')
df2 = pd.read_csv('../excel_files/test_row.csv')

In [3]:
df = pd.concat([df1, df2], ignore_index=True)

In [4]:
df = df.drop(columns=['Survived', 'Cabin', 'Name', 'Ticket'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Pclass       1309 non-null   int64
 2   Sex          1309 non-null   object
 3   Age          1046 non-null   float64
 4   SibSp        1309 non-null   int64
 5   Parch        1309 non-null   int64
 6   Fare         1308 non-null   float64
 7   Embarked     1307 non-null   object
dtypes: float64(2), int64(4), object(2)
memory usage: 81.9+ KB

In [232]:
missing_values = df.isnull().sum()

missing_values

PassengerId      0
Pclass           0
Sex              0
Age            263
SibSp            0
Parch            0
Fare             1
Embarked         2
dtype: int64

In [6]:
df['Embarked'] = df['Embarked'].replace({'S': 0, 'C': 1, 'Q': 2, np.nan: 0})

/var/folders/46/ky7ff4bj6874xpchl1bc9cqh0000gn/T/ipykernel_6625/1850147528.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Embarked'] = df['Embarked'].replace({'S': 0, 'C': 1, 'Q': 2, np.nan: 0})

In [7]:
df['Fare'] = df['Fare'].fillna(df['Fare'].mean())

In [8]:
df['Sex'] = df['Sex'].replace({'male': 0, 'female': 1})

/var/folders/46/ky7ff4bj6874xpchl1bc9cqh0000gn/T/ipykernel_6625/3114103383.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Sex'] = df['Sex'].replace({'male': 0, 'female': 1})

In [9]:
df['Alone'] = ((df['Parch'] == 0) & (df['SibSp'] == 0)).astype(int)

In [10]:
df.to_csv('../excel_files/dataset_01.csv', index=False)